* {
    margin: 0;
    padding: 0;
}

header {
    padding: 16px;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid black;
}

nav ul li{
    padding: 5px;
    display: inline-block;
    list-style-type: none;
}
nav ul li a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 20px
}
nav ul li:hover {
    background-color: rgb(204, 204, 204);
}

section {
    margin-left: 16px;
    margin-bottom: 16px;
    padding: 16px;
}

div button{
    width: 100%;
    height: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 600;
    border: 1px solid black;
}
div button:hover {
    background-color: rgb(57, 57, 57);
    color: white;
}

.bloco {
    margin: 0 auto;
    margin-bottom: 5px;
    width: 85%;
    display: flex;
    column-gap: 10px;
}

.armario {
    margin: 0 auto;
    width: 140px;
    height: 200px;
}

#b1 {
    margin-left: 16px;
    margin-bottom: 16px;
}
#azul{
    list-style-type: "\1F7E6";
}
#lilas {
    list-style-type: "\1F7EA";
}
#amar {
    list-style-type: "\1F7E8";
}




/* Armários IDs
-- Bloco 1 --
*/
#b101{
    background-image: url(../imgs/armario-livre.png);
    background-repeat:no-repeat;
}
#b102{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}
#b103{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b104{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}
#b105{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}
#b106{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b107{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b108{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b109{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}
#b110{
    background-image: url(imgs/armario-manutencao.png);
    background-repeat:no-repeat;

}
#b111{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b112{
    background-image: url(imgs/armario-manutencao.png);
    background-repeat:no-repeat;

}
#b113{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b114{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b115{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b116{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b117{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b118{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}
#b119{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}
#b120{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}
#b121{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b122{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b123{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}
#b124{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}

/*
-- Bloco 2 --
*/

#b201{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}
#b202{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}
#b203{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}
#b204{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}
#b205{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b206{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}
#b207{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}
#b208{
    background-image: url(imgs/armario-manutencao.png);
    background-repeat:no-repeat;

}
#b209{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}
#b210{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b211{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b212{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b213{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b214{
    background-image: url(imgs/armario-manutencao.png);
    background-repeat:no-repeat;

}
#b215{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b216{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b217{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}
#b218{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}
#b219{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}
#b220{
    background-image: url(imgs/armario-manutencao.png);
    background-repeat:no-repeat;

}
#b221{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b222{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b223{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b224{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}


/* 
-- Bloco 3 
*/
#b301{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}
#b302{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b303{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}
#b304{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b305{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b306{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b307{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b308{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}
#b309{
    background-image: url(imgs/armario-manutencao.png);
    background-repeat:no-repeat;

}
#b310{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b311{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b312{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b313{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b314{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}
#b315{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}
#b316{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}
#b317{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}
#b318{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}
#b319{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}
#b320{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b321{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b322{
    background-image: url(imgs/armario-livre.png);
    background-repeat:no-repeat;

}
#b323{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}
#b324{
    background-image: url(imgs/armario-ocupado.png);
    background-repeat:no-repeat;

}
