* {
    margin: 0;
    padding: 0;
}

header {
    padding: 16px;
    position: sticky;
    top: 0
}

nav ul li{
    padding: 5px;
    display: inline-block;
    list-style-type: none;
}
nav ul li a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 20px
}
nav ul li:hover {
    background-color: rgb(204, 204, 204);
}

hr {
    margin-bottom: 30px;
}

section {
    margin-left: 16px;
    margin-bottom: 16px;
    padding: 16px;
}

.bloco {
    margin: 0 auto;
    width: 85%;
    display: flex;
}

.armarios img {
    width: 100%;
}

#b1 {
    margin-left: 16px;
    margin-bottom: 16px;
}
#azul{
    list-style-type: "\1F7E6";
}
#lilas {
    list-style-type: "\1F7EA";
}
#amar {
    list-style-type: "\1F7E8";
}